<!--Simple pagination component by <a href="https://gitlab.com/AkomboNeville">Akombo Neville Akwo</a>-->
<!--Gitlab link <a href="https://gitlab.com/AkomboNeville">Akombo Neville Akwo</a>-->
<template>
  <div v-if="paginationObject && pages > 1" class="col-md-12">
    <nav id="ana-pagination">
      <ul class="pagination mx-auto">
        <li class="page-item" v-if="previousLink" @click="goToPage(page - 1)" style="cursor:pointer">
                    <span class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&lt;&nbsp; </span>
                        <span class="sr-only">Previous</span>
                    </span>
        </li>
        <li v-else class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&lt;&nbsp; </span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item" v-for="link of links"
            v-bind:class="{ active: link == page }">
          <span v-if="link" class="page-link" @click="goToPage(link)" style="cursor:pointer">{{ link }}</span>
          <span v-else="link" class="page-link">...</span>
        </li>
        <li class="page-item" v-if="nextLink" @click="goToPage(page + 1)" style="cursor:pointer">

                    <span class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                        <span class="sr-only">Next</span>
                    </span>
        </li>
        <li v-else class="page-item disabled">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
      <div class="text-center">
        <p>
          <span class="mr-1">Page</span>
          <span class="mr-1">{{ page }}</span>
          <span class="mr-1">of</span>
          <span class="mr-1">{{ pages }}</span>
        </p>
      </div>

    </nav>
  </div>
</template>
<script>
export default {
  name: "AnaVuePaginate",
  emits: ['update'],
  props: {
    paginationObject: {
      required: true
    },
    visibleLinks:{
      default: 13
    }
  },
  data() {
    return {
      numberOfLinks: 1,
      separator: '...',
      links: [],
      page: 1,
      pages: 1,
      previousLink: null,
      nextLink: null
    }
  },
  methods:{
    isMobile: function () {
      // device detection
      if (
          /(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(
              navigator.userAgent
          ) ||
          /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(
              navigator.userAgent.substr(0, 4)
          )
      ) {
        return true;
      }
      return false;
    },
    setNumberOfLinks: function () {
      if (this.isMobile()) {
        this.numberOfLinks = 5
      }
      //    substract next and previous page from number of links
      this.numberOfLinks = this.numberOfLinks - 2;
    },
    setDefaults: function () {
      this.page = this.paginationObject.current_page;
      this.pages = this.paginationObject.last_page;
      this.nextLink = this.paginationObject.next_page_url;
      this.previousLink = this.paginationObject.prev_page_url;
      this.numberOfLinks = this.visibleLinks;
    },
    setLinks: function () {
      if (this.paginationObject) {
        this.setDefaults();
        this.setNumberOfLinks();
        if (this.pages <= this.numberOfLinks) {
          let counter = 1;
          this.links = [];
          while (counter <= this.pages) {
            this.links.push(counter);
            counter++;
          }
        } else if (this.pages > this.numberOfLinks) {
          this.links = [];
          if (this.numberOfLinks <= 4) {
            /**
             * push the first link
             */
            this.links.push(1);
            /**
             * check if current page is not the last page or the first
             */
            if (this.page !== 1 && this.page !== this.pages) {
              this.links.push(this.page);
            } else {
              this.links.push(2);
            }
            /**
             * add eclipse
             */
            this.links.push(0);
            /**
             * add last page
             */
            this.links.push(this.pages);
          } else {
            /**
             * push the first link
             */
            this.links.push(1);

            if (this.page <= this.numberOfLinks) {
              if ((this.page - 1) > 2) {
                /**
                 * add eclipse
                 */
                this.links.push(0);
                // newLinksPerPage;
                let counter = this.page;
                while (counter < (this.numberOfLinks + this.page)) {
                  this.links.push(counter);
                  counter++;
                }
                /**
                 * add eclipse
                 */
                this.links.push(0);
                /**
                 * add last page
                 */
                this.links.push(this.pages);


              } else {
                let counter = 2;
                while (counter < this.numberOfLinks) {
                  this.links.push(counter);
                  counter++;
                }
                /**
                 * add eclipse
                 */
                this.links.push(0);
                /**
                 * add last page
                 */
                this.links.push(this.pages);
              }
            } else {
              if ((this.numberOfLinks + this.page) === this.pages) {
                this.links.push(0);
                let counter = this.page;
                while (counter < this.pages) {
                  this.links.push(counter);
                  counter++;
                }
                /**
                 * add last page
                 */
                this.links.push(this.pages);
              }
              /**
               * this block calculates the difference between the total pages aabd the current page
               * to determine number of links to be added to the right and left of the current page
               */
              else if ((this.numberOfLinks + this.page) > this.pages) {

                let dif = this.pages - this.page;
                let leftGap = this.numberOfLinks - dif;
                this.links.push(0);
                let counter = this.page - leftGap;

                // loop 1
                while (counter < this.page) {
                  this.links.push(counter);
                  counter++;
                }

                //    loop 2
                if (dif > 0) {
                  counter = this.page;
                  while (counter < this.pages) {
                    this.links.push(counter);
                    counter++;
                  }
                }
                /**
                 * add last page
                 */
                this.links.push(this.pages);

              } else if ((this.numberOfLinks + this.page) < this.pages) {
                let rightGap = Math.ceil(this.numberOfLinks / 2);
                let leftGap = Math.floor(this.numberOfLinks / 2);
                this.links.push(0);
                //  first loop
                let counter = this.page - leftGap;
                while (counter < this.page) {
                  this.links.push(counter);
                  counter++;
                }
                //    loop 2
                counter = this.page;
                while (counter <= (this.page + rightGap)) {
                  this.links.push(counter);
                  counter++;
                }
                this.links.push(0);
                /**
                 * add last page
                 */
                this.links.push(this.pages);
              }
            }
          }
        }
      }

    },
    goToPage: function (currentPage) {
      if (currentPage != this.page) {
        this.$emit('update', currentPage);
      }
    }
  },
  mounted(){
    this.setLinks();
  }

}
</script>
<style scoped>
#ana-pagination .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin: 0 auto;
  width: fit-content;
}

#ana-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

#ana-pagination .pagination li:hover .page-link, #ana-pagination .pagination li.active .page-link {
  color: #ea4335;
}

#ana-pagination .pagination li.disabled {
  pointer-events: none;
}

#ana-pagination .pagination li.disabled .page-link {
  color: gray;
}

#ana-pagination {
  width: 100%;
  display: block;
  padding: 1.5rem 0;
}
</style>